[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
configargparse = "==0.14.0"
numpy = "==1.17.5"
pillow = "==7.0.0"
tqdm = "==4.32.2"

[requires]
python_version = "3.6"
